frontend {{ haproxy_configuration_name }}-frontend
{% for bind_address in haproxy_bind_addresses %}
  bind {{ bind_address }}
{% endfor %}
  mode tcp
  option tcplog
  default_backend {{ haproxy_configuration_name }}-backend

backend {{ haproxy_configuration_name }}-backend
  mode tcp
  option tcplog
  option tcp-check
  balance roundrobin
  default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
{% for backend_address in haproxy_backend_addresses %}
  server {{ haproxy_configuration_name }}-{{ loop.index }} {{ backend_address }} check
{% endfor %}